openapi: 3.0.0
info:
  title: GodfallDB Api
  description: "GodfallDB API"
  termsOfService: http://swagger.io/terms/
  contact:
    url: https://discord.gg/WPmq4NDfJK
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.0.1-SNAPSHOT
servers:
  - url: http://godfalldb.ch/api
    description: Production Server
  - url: http://localhost/api
    description: Dev Environment
tags:
  - name: weapon
    description: "Operations about weapons"
  - name: augment
    description: "Operations about augments"
  - name: lifestone
    description: "Operations about lifestones"
  - name: banner
    description: "Operations about banners"
  - name: charm
    description: "Operations about charms"
  - name: ring
    description: "Operations about rings"
  - name: amulet
    description: "Operations about amulets"
  - name: lootinfo
    description: "Operations about loot info"

components:
  schemas:
    ItemElement:
      type: string
      enum:
        - VOID
        - AIR
        - FIRE
        - WATER
        - EARTH
        - PHYSICAL
        - NONE
    Rarity:
      type: string
      enum:
        - COMMON
        - UNCOMMON
        - RARE
        - EPIC
        - LEGENDARY
        - EXOTIC
    Affinity:
      type: string
      enum:
        - MIGHT
        - SPIRIT
        - VITALITY
    Color:
      type: string
      enum:
        - RED
        - GREEN
        - BLUE
    ParamType:
      type: string
      enum:
        - ATTRIBUTE_NO_VARIANCE
        - CORE_ATTRIBUTE
        - CORE_ATTRIBUTE_PERCENT
        - DEFENSE_PERCENT
        - NON_SCALING
        - NO_VARIANCE_CORE_ATTRIBUTE_PERCENT
        - NO_VARIANCE_DEFENSE_PERCENT
        - NO_VARIANCE_PLAYER_POWER
        - PLAYER_POWER
    EffectMagnitude:
      type: object
      properties:
        name:
          type: string
        conditionparamtype:
          $ref: '#/components/schemas/ParamType'
        scalar:
          type: number
          format: double
    ConditionParamCategory:
      type: object
      properties:
        affinity:
          $ref: '#/components/schemas/Affinity'
        color:
          $ref: '#/components/schemas/Color'
    LootEffect:
      type: object
      properties:
        name:
          type: string
        magnitudes:
          type: array
          items:
            $ref: '#/components/schemas/EffectMagnitude'
    TraitType:
      type: string
      enum:
        - PRIMARY
        - SECONDARY
        - MASTERWORK
    ConditionalLootEffect:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        applytoself:
          type: boolean
        applytoconnected:
          type: boolean
        applyforeach:
          type: boolean
        looteffects:
          type: array
          items:
            $ref: '#/components/schemas/LootEffect'
        conditionname:
          type: string
        conditionparamcategory:
          $ref: '#/components/schemas/ConditionParamCategory'
        conditionparamtype:
          $ref: '#/components/schemas/ParamType'
        conditionparamscalar:
          type: integer
          format: int64
    TraitCategory:
      type: object
      properties:
        name:
          type: string
        groupname:
          type: string
        traittype:
          $ref: '#/components/schemas/TraitType'
        allowedtraittags:
          type: array
          items:
            type: string
        traitgroup:
          type: string
        exclusiongroups:
          type: array
          items:
            type: string
        minimumtier:
          type: integer
          format: int64
        maximumtier:
          type: integer
          format: int64
        weight:
          type: integer
          format: int64
        minimumrarity:
          $ref: '#/components/schemas/Rarity'
        maximumrarity:
          $ref: '#/components/schemas/Rarity'


    TraitRequirement:
      type: object
      properties:
        gameplayTag:
          type: string
        required:
          type: boolean
        actorType:
          type: string
    Weapon:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        gameplayTag:
          type: string
        weaponclass:
          type: string
          enum:
            - LONGSWORD
            - GREATSWORD
            - POLEARM
            - DUALBLADES
            - WARHAMMER
        elements:
          type: array
          items:
            $ref: '#/components/schemas/ItemElement'
        minimumrarity:
          $ref: '#/components/schemas/Rarity'
    Augment:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        gameplayTag:
          type: string
        affinities:
          type: array
          items:
            $ref: '#/components/schemas/Affinity'
        elements:
          type: array
          items:
            $ref: '#/components/schemas/ItemElement'
        minimumrarity:
          $ref: '#/components/schemas/Rarity'
    Banner:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        gameplayTag:
          type: string
        affinities:
          type: array
          items:
            $ref: '#/components/schemas/Affinity'
        elements:
          type: array
          items:
            $ref: '#/components/schemas/ItemElement'
        overshieldScalar:
          type: integer
          format: int64
        radiusScalar:
          type: integer
          format: int64
        cooldownScalar:
          type: integer
          format: int64
    LifeStone:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        gameplayTag:
          type: string
        elements:
          type: array
          items:
            $ref: '#/components/schemas/ItemElement'
        minimumrarity:
          $ref: '#/components/schemas/Rarity'
        healamount:
          type: integer
          format: int64
        charges:
          type: integer
          format: int64
        healDuration:
          type: integer
          format: int64
        secondaryTraitDuration:
          type: integer
          format: int64
    Ring:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        gameplayTag:
          type: string
        affinities:
          type: array
          items:
            $ref: '#/components/schemas/Affinity'
        elements:
          type: array
          items:
            $ref: '#/components/schemas/ItemElement'
        minimumrarity:
          $ref: '#/components/schemas/Rarity'
    Amulet:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        gameplayTag:
          type: string
        affinities:
          type: array
          items:
            $ref: '#/components/schemas/Affinity'
        elements:
          type: array
          items:
            $ref: '#/components/schemas/ItemElement'
        minimumrarity:
          $ref: '#/components/schemas/Rarity'
    Charm:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        gameplayTag:
          type: string
        affinities:
          type: array
          items:
            $ref: '#/components/schemas/Affinity'
        elements:
          type: array
          items:
            $ref: '#/components/schemas/ItemElement'
        minimumrarity:
          $ref: '#/components/schemas/Rarity'
    LootInfo:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        gameplayTag:
          type: string
        minimumrarity:
          $ref: '#/components/schemas/Rarity'
        maximumrarity:
          $ref: '#/components/schemas/Rarity'
        minimumTier:
          type: integer
          format: int64
        maximumTier:
          type: integer
          format: int64
        TowerDrop:
          type: boolean
        PreorderDrop:
          type: boolean
        DropTags:
          type: array
          items:
            type: string
    Trait:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        group:
          type: string
        description:
          type: string
        traitrequirement:
          type: array
          items:
            $ref: '#/components/schemas/TraitRequirement'
        looteffects:
          type: array
          items:
            $ref: '#/components/schemas/LootEffect'
        conditionallooteffects:
          type: array
          items:
            $ref: '#/components/schemas/ConditionalLootEffect'
        minimumrarity:
          $ref: '#/components/schemas/Rarity'
        maximumrarity:
          $ref: '#/components/schemas/Rarity'
        minimumTier:
          type: integer
          format: int64
        maximumTier:
          type: integer
          format: int64
        matchModifierMagnitudes:
          type: boolean
        weight:
          type: integer
          format: int64
        traitcategory:
          $ref: '#/components/schemas/TraitCategory'
        keywords:
          type: array
          items:
            type: string


paths:
  /weapon:
    get:
      tags:
        - weapon
      summary: Get all weapons
      operationId: getAllWeapons
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Weapon'
  /weapon/{id}:
    get:
      tags:
        - weapon
      summary: Get weapon by id
      operationId: getWeaponById
      parameters:
        - name: id
          in: path
          description: 'The id needed to fetch info about a weapon'
          required: true
          schema:
            type: integer
            format: int64

      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Weapon'
        404:
          description: Weapon not found
          content: { }
  /augment:
    get:
      tags:
        - augment
      summary: Get all Augments
      operationId: getAllAugments
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Augment'
  /augment/{id}:
    get:
      tags:
        - augment
      summary: Get augment by id
      operationId: getAugmentById
      parameters:
        - name: id
          in: path
          description: 'The id needed to fetch info about a augment'
          required: true
          schema:
            type: integer
            format: int64

      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Augment'
        404:
          description: Augment not found
          content: { }
  /lifestone:
    get:
      tags:
        - lifestone
      summary: Get all lifestones
      operationId: getAllLifestones
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LifeStone'
  /lifestone/{id}:
    get:
      tags:
        - lifestone
      summary: Get lifestone by id
      operationId: getLifestoneById
      parameters:
        - name: id
          in: path
          description: 'The id needed to fetch info about a Lifestone'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LifeStone'
        404:
          description: Lifestone not found
          content: { }
  /banner:
    get:
      tags:
        - banner
      summary: Get all banners
      operationId: getAllBanners
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Banner'
  /banner/{id}:
    get:
      tags:
        - banner
      summary: Get banner by id
      operationId: getBannerById
      parameters:
        - name: id
          in: path
          description: 'The id needed to fetch info about a Banner'
          required: true
          schema:
            type: integer
            format: int64

      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Banner'
        404:
          description: Banner not found
          content: { }
  /amulet:
    get:
      tags:
        - amulet
      summary: Get all amulets
      operationId: getAllAmulets
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Amulet'
  /amulet/{id}:
    get:
      tags:
        - amulet
      summary: Get amulet by id
      operationId: getAmuletById
      parameters:
        - name: id
          in: path
          description: 'The id needed to fetch info about a Amulet'
          required: true
          schema:
            type: integer
            format: int64

      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Amulet'
        404:
          description: Amulet not found
          content: { }
  /charm:
    get:
      tags:
        - charm
      summary: Get all charms
      operationId: getAllCharms
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Charm'
  /charm/{id}:
    get:
      tags:
        - charm
      summary: Get charm by id
      operationId: getCharmById
      parameters:
        - name: id
          in: path
          description: 'The id needed to fetch info about a Charm'
          required: true
          schema:
            type: integer
            format: int64

      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charm'
        404:
          description: Charm not found
          content: { }
  /ring:
    get:
      tags:
        - ring
      summary: Get all rings
      operationId: getAllRings
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ring'
  /ring/{id}:
    get:
      tags:
        - ring
      summary: Get ring by id
      operationId: getRingById
      parameters:
        - name: id
          in: path
          description: 'The id needed to fetch info about a Ring'
          required: true
          schema:
            type: integer
            format: int64

      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ring'
        404:
          description: Ring not found
          content: { }
  /lootinfo:
    get:
      tags:
        - lootinfo
      summary: Get all lootinfos
      operationId: getAllLootInfos
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LootInfo'
  /lootinfo/amulet/{id}:
    get:
      tags:
        - lootinfo
      summary: Get lootinfo by amulet id
      operationId: getLootInfoByAmuletId
      parameters:
        - name: id
          in: path
          description: 'The id needed to fetch info about a LootInfo'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LootInfo'
        404:
          description: LootInfo not found
          content: { }
  /lootinfo/augment/{id}:
    get:
      tags:
        - lootinfo
      summary: Get lootinfo by augment id
      operationId: getLootInfoByAugmentId
      parameters:
        - name: id
          in: path
          description: 'The id needed to fetch info about a LootInfo'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LootInfo'
        404:
          description: LootInfo not found
          content: { }
  /lootinfo/banner/{id}:
    get:
      tags:
        - lootinfo
      summary: Get lootinfo by banner id
      operationId: getLootInfoByBannerId
      parameters:
        - name: id
          in: path
          description: 'The id needed to fetch info about a LootInfo'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LootInfo'
        404:
          description: LootInfo not found
          content: { }
  /lootinfo/charm/{id}:
    get:
      tags:
        - lootinfo
      summary: Get lootinfo by charm id
      operationId: getLootInfoByCharmId
      parameters:
        - name: id
          in: path
          description: 'The id needed to fetch info about a LootInfo'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LootInfo'
        404:
          description: LootInfo not found
          content: { }
  /lootinfo/lifestone/{id}:
    get:
      tags:
        - lootinfo
      summary: Get lootinfo by lifestone id
      operationId: getLootInfoByLifeStoneId
      parameters:
        - name: id
          in: path
          description: 'The id needed to fetch info about a LootInfo'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LootInfo'
        404:
          description: LootInfo not found
          content: { }
  /lootinfo/ring/{id}:
    get:
      tags:
        - lootinfo
      summary: Get lootinfo by ring id
      operationId: getLootInfoByRingId
      parameters:
        - name: id
          in: path
          description: 'The id needed to fetch info about a LootInfo'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LootInfo'
        404:
          description: LootInfo not found
          content: { }
  /trait:
    get:
      tags:
        - trait
      summary: Get all Traits
      operationId: getAllTraits
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Trait'
  /trait/{id}:
    get:
      tags:
        - trait
      summary: Get Trait by id
      operationId: getTraitById
      parameters:
        - name: id
          in: path
          description: 'The id needed to fetch info about a Trait'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trait'
        404:
          description: Trait not found
          content: { }


